*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h2{
    color: rgb(114, 91, 247);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:30px;
    font-size: 40px;

}
